    <div class="modal fade delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div>
                        <p>Prosseguir com a exclusão <span class="text-danger"><text class="name"></text></span>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnExcluir btn btn-sm btn-danger float-right m-t-n-xs"><strong>Sim</strong></button>
                <button type="button" class="btn btn-sm btn-white float-right m-t-n-xs" data-dismiss="modal"><strong>Não</strong></button>
            </div>
        </div>
    </div>
</div>